body{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #537173;
}
.cart{
	width: 60vw;
	padding: 10px;
	margin-top: 22vh;
	background-color: #8F9B97;
	border: 2px solid #E5E5E5;
	border-radius: 10px;
}
.countdown{
	display: flex;
	justify-content: center;
	align-items: center;
}
h3{
	margin: 0;
}
.time-section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #E5E5E5;
	padding: 0 1.5vw;
	margin: 20px 0;
	border-right: 2px solid #E5E5E5;
	user-select: none;
}
.time-section:last-child{
	border: none;
}

/** style text*/
h1{
	font-family: 'K2D';
	font-style: normal;
	font-weight: 700;
	font-size: 4.5vw;
}
h3{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 2.3vw;
}
.countdown{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 4vw;
}